%html
  %head
  %body
    %h1= t '.title'
    = form_with model: [@league, @team] do |form|
      - if @team.errors
        %p
          = @team.errors.full_messages.first.to_s

      %div
        = form.label :name
        = form.text_field :name, required: true

      %p
        = form.submit
