%html
  %head
  %body
    %h1= @team.name

    - if @team.league.pre_draft?
      %p Waiting for draft to start
    - else
      = render 'drafted_team' unless @team.riders.empty?
      = render 'draft_list', team: @team, league: @team.league

    - if policy(@team).destroy?
      = link_to t('.delete'),
          league_team_path(@team.league, @team),
          method: :delete,
          data: { confirm: 'Are you sure?' }

    = link_to t('generic.back'), @team.league
